<html xmlns:th="http://www.thymeleaf.org">
 <head>
  <script th:src="@{/JS/script.js}"> </script>
  <link th:href='@{/CSS/style.css}' rel='stylesheet'>
  <link th:href='@{/CSS/bootstrap.min.css}' rel='stylesheet'>
 </head>
 <body>
 <div class='dvv'>
   <table style="width:95%"><tr>
   		<td><label style='margin-left:3vw;color:white;font-size:2.5vw;font-weight:bold'>Hi, Manager</label></td>
   	  	<td align="center">
      	  <label style='color:orange;font-size:3vw'>BOOK INVENTROY MANAGEMENT</label>
      	</td>
  		<td align='right'><a href=''  class='btl'>Logout</a></td>
   </tr></table>
  </div>
  <hr style="border:2px solid green">
 </body>
</html>  